.wlist-item {
    width: 46%;
    display: inline-block;
    background: #f9f9f9;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 8px;
    position: relative;
    img {width: 55px; float: left;}
}

.wlistDetail {
    float: left; padding-left: 10px; text-align: left; max-width: 75%;
    span {display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
    .wlName {}
    .wlalbumName {font-size: 14px;}
    .wlcntry {font-size: 14px;}
}

.removeBtn {
	position: absolute;
    right: -1;
    top: 0;
    height: 100%;
    padding: 0px 12px;
    font-size: 12px;
    border-radius: 0px 4px 4px 0px;
    -webkit-appearance: button;
    border: 0;
    background: #ff6d6d;
    color: #fff;
    font-family: $fontFamily;
    cursor: pointer;
    &:focus {outline: 0;}
}

.wlist-search {
    width: 50%;
    margin: 40px auto 0px;
    text-align: center;
}

.wishlist-con {
	display: none;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.88);
}

.playlistWrapper {
    max-width: 1100px;
    margin: 20px auto 0px;
    max-height: 72%;
    overflow-y: scroll;
    text-align: center;
}

#closePlist {
    width: 32px;
    height: 32px;
    background: url(../images/close.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 12%;
    top: 6%;
}